.boardContainer {
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 15px;

  min-width: 300px;
  min-height: 500px;
  width: 25%;
  background-color: hsl(251, 56%, 15%);
  color: white;
}
.innerBoard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.3rem;
}
.boardSvg {
  cursor: pointer;
  visibility: hidden;
}
.boardContainer:hover .boardSvg {
  visibility: visible;
}

.plusButton {
  cursor: pointer;
  color: blue;
}
