header {
  display: flex;
  flex-direction: row;
  padding: 5px;
  background-color: rgb(61, 61, 88);
}

.headerLeft {
  flex-grow: 1;
}
.headerRight {
  flex-grow: 1;
}

.listFormBackground {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;

  top: 0;
  left: 0;
  background-color: #000;
  color: #aaa;
  opacity: 0.4;
  filter: alpha(opacity=50);
}

.listForm {
  z-index: 1;

  position: absolute;
  width: 70%;
  top: 40%;
  left: 55%;
  margin-right: -50%;
  padding: 25px;
  transform: translate(-50%, -50%);
  border: 5px groove silver;
  background-color: rgb(245, 245, 245);
}
