.backgroundCover {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100vh;
  background-color: #000;
  opacity: 0.6;
  filter: alpha(opacity=50);
}

.SignUpform {
  z-index: 1;
  position: absolute;
  width: 50%;
  max-width: 600px;
  top: 40%;
  left: 50%;
  margin-right: -50%;
  padding: 25px;
  transform: translate(-50%, -50%);
  background-color: rgb(245, 245, 245);
}
.SignUpform h3 {
  color: black;
  font-size: 1.4rem;
}
.mb-3,
.topTitle {
  color: black;
  font-size: 1.4rem;
}
.form input {
  margin-top: 5px;
  margin-bottom: 10px;
}
.errorMessage {
  color: black;
}
.closeButton {
  position: absolute;
  right: 0;
  top: 0;
  border: 0;
  font-size: 2rem;
  color: rgb(65, 65, 65);
  background-color: rgb(245, 245, 245);
}
.closeButton:hover {
  color: black;
  cursor: pointer;
}
