.taskDataOuter {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: hsl(251, 56%, 15%);
}
.tdContents {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%;
  height: 50%;
}
.taskDataHeader {
  display: flex;
  flex-direction: row;
  background-color: hsl(251, 63%, 61%);

  padding: 5px;
  width: 50%;
}
.taskDataHeader p {
  color: black;
  margin: 0;
}
.arrowButton {
  margin-right: 10px;
  font-size: 1.5rem;
  cursor: pointer;
  color: white;
}

.left {
  padding: 5px;
  flex-grow: 1;
  background-color: hsl(251, 63%, 61%);
}
.right {
  padding: 5px;
  flex-grow: 1;
  background-color: hsl(252, 37%, 27%);
}

input {
  cursor: pointer;
}

.complete {
  color: white;
}
