.taskContainer {
  margin: 5px;
}
.innerTask {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid blue;
}

.taskSvg {
  cursor: pointer;
  visibility: hidden;
  font-size: 1.2rem;
}
.taskContainer:hover .taskSvg {
  visibility: visible;
}

.addTask {
  font-size: 1.2rem;
  cursor: pointer;
}
